.App {
  text-align: center;
}

.header{
  max-width: 100%;
  min-height: auto;
  background-color: aqua;
  color: white;
  font-size: 40px;
}
.form-group{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
